<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Transcript</title>
    <style>
        .loading {
            display: inline-block;
            width: 14px;
            height: 14px;
            border: 3px solid rgba(0,0,0,.3);
            border-radius: 50%;
            border-top-color: #000;
            animation: spin 1s ease-in-out infinite;
        }
        @keyframes spin {
            to { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
    <h1>YouTube Transcript and Translation</h1>
    <form method="POST" id="transcript-form">
      <span> Youtube URL: </span>
        <input type="text" name="url" placeholder="YouTube URL 입력">
        <input type="submit" value="Transcribe">
    </form>
    <br/>
    {% if jobs_status %}
      <div id="jobs-status" class="mt-2" >
        <span id="loading" class="loading"></span>
        <span> {{ jobs_status }} <span>
      </div>
    {% endif %}
    <br/>

    {% if videos %}
    <table>
        {% for video in videos %}
        <tr>
            <td><img src="{{ video.image }}" alt="{{ video.title }}" width="100"></td>
            <td><a href="{{ video.url }}">{{ video.title }}</a></td>
            <td><a href="{{ video.transcript }}">transcript</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

</body>
</html>

